body {
    background-color: white
}

.caja1 {
    height: 260px;
    width: 260px;
    background-color: white;
}

.odin {
    height: 260px;
    width: 260px;
    background-color: darkgrey;
    border: 2px darkgray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 8px 8px;
}

.circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: dimgrey;
    
}

.top {
    height: 210px;
    width: 280px;
    background-color: darkgray;
    color: white;
    display: flex;
    border-radius: 8px 8px 8px 8px;
    justify-content: center;
    align-items: center;
}

.logo_gameboy {
    height: 50px;
    width: 50px;
}

.pantalla {
    width: 230px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.display {
    width: 160px;
    height: 150px;
    background-color: white;
}

.caja2 {
    width: 260px;
    height: 24px;
    background-color: white;
}

.center {
    width: 261px;
    height: 20px;
    background-color: darkgray;
    border: 2px darkgray inset;
    display: flex;
    border-radius: 6px;
    border-bottom-color: grey;

}

.caja3 {
    width: 264px;
    height: 260px;
    background-color: darkgray;
}

.base {
    width: 135px;
    height: 165px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomA {
    width: 100px;
    height: 100px;
    background-color: darkgray;
    display: flex;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border-style: inset;
  

}

.lineas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   

}

.padA {
    width: 18px;
    height: 18px;
    background-color: darkgray;
}

.padB {
    width: 18px;
    height: 18px;
    background-color: rgb(99, 93, 93);
}

.base2{
    width: 264px;
    height: 95px;
    background-color: darkgray;
    
}

.odin-start-select {width: 230px;
    height: 85px;
    background-color: darkgray;
    margin: auto;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}


.circle-select{
    height: 50px;
    width: 50px;
    background-color:darkgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
    
}

.select{
    height: 25px;
    width: 25px;
    background-color:rgb(99, 93, 93);
    border-radius: 50%;
}

.circle-start{
    height: 50px;
    width: 50px;
    background-color: darkgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
}

.start{
    height: 25px;
    width: 25px;
    background-color: rgb(99, 93, 93);
    border-radius: 50%;
}
.base3 {
    width: 60px;
    height: 60px;
    background-color: green;
      
}