body {
    background-color: white
}

.odin{
    height: 420px;
    width: 270px;
    background-color: darkgrey;
    border: 2px black solid;
    display: flex;
    border-radius: 8px 8px 8px 8px;
}

.top{
    height: 190px;
    width: 220px;
    background-color: black;
    display: flex;
    border-radius: 4px 4px 4px 4px;
    

    }