body {
    background-color: white
}

.caja1 {
    height: 260px;
    width: 260px;
    background-color: white;
}

.odin {
    height: 260px;
    width: 230px;
    background-color: darkgrey;
    border: 2px darkgray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 8px 8px;
}

.top {
    height: 210px;
    width: 280px;
    background-color: darkgray;
    color: white;
    display: flex;
    border-radius: 8px 8px 8px 8px;
    justify-content: center;
    align-items: center;
}

.logo_gameboy {
    height: 50px;
    width: 50px;
}

.pantalla{
    width: 200px;
    height: 220px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.display {
    width: 180px;
    height: 170px;
    background-color: white;
}

.caja2{
    width: 260px;
    height: 24px;
    background-color: white;
}

.center{
    width: 230px;
    height: 20px;
    background-color: darkgray;
    border: 2px darkgray solid;
    display: flex;
    border-radius: 6px;
    border-top-color: grey;
    border-bottom-color: grey;

}

.caja3 {
    width: 235px;
    height: 190px;
    background-color: darkgray;
}

.bottomA{
    width: 235px;
    height: 100px;
    background-color: grey;
}

